<template>
  <div id="app">
    <li>
      {{feed.title}}
   </li>
  </div>
</template>

<script>
    export default {
        props: ["feed"],
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
